# Homework 1
by Grigory Vykhodtsev

## Excercise 1.Celsius and Fahrenheit Converter

Description: To convert temperature between Fahrenheit to Celsius and Celsius to Fahrenheit

Formulas:
$$
\begin{aligned}
T_F &= \frac{9}{5}T_C + 32 \\
T_C &= \frac{5}{9}(T_F - 32)
\end{aligned}
$$

In [1]:
def Cel2Fahr(T_c):
    return((9/5)*T_c + 32)
def Fahr2Cel(T_f):
    return((5/9)*(T_f - 32))

0.5555555555555556

In [12]:
print(f"40°C equals to {round(Cel2Fahr(40),2)}°F")
print(f"60°F equals to {round(Fahr2Cel(60),2)}°C")

40°C equals to 104.0°F
60°F equals to 15.56°C

### Leetcode similar excersise
[link](https://leetcode.com/problems/convert-the-temperature/description/)

**Convert the Temperature**

You are given a non-negative floating point number rounded to two decimal places `celsius`, that denotes the **temperature in Celsius**.

You should convert Celsius into **Kelvin and Fahrenheit** and return it as an array `ans = [kelvin, fahrenheit]`.

Return the array `ans`. Answers within `10-5` of the actual answer will be accepted.

**Note that:**

`Kelvin = Celsius + 273.15`
`Fahrenheit = Celsius * 1.80 + 32.00`
 

**Example 1:**

```
Input: celsius = 36.50
Output: [309.65000,97.70000]
Explanation: Temperature at 36.50 Celsius converted in Kelvin is 309.65 and converted in Fahrenheit is 97.70.
```
**Example 2:**
```
Input: celsius = 122.11
Output: [395.26000,251.79800]
Explanation: Temperature at 122.11 Celsius converted in Kelvin is 395.26 and converted in Fahrenheit is 251.798.
```

In [19]:
class Solution(object):
    def convertTemperature(self, celsius):
        """
        :type celsius: float
        :rtype: List[float]
        """
        K = celsius + 273.15
        F = celsius * 1.8 + 32
        return([K,F])

In [21]:
Solution().convertTemperature(40)

[313.15, 104.0]

## Excercise 2.Road tax

**Description:** Write a program to accept the cost price of a bike and
             display the road tax to be paid according to the following criteria.
    
|Cost price (in Rs)|            Tax|
|---|---|
|> 100_000               |       15%|
|> 50_000 and <= 100_000 |       10%|
|<= 50_000                |      5%|

In [33]:
def Tax(cost_price):
    if cost_price > 100000:
        tax_coef = 0.15
    elif cost_price > 50000:
        tax_coef = 0.1
    else:
        tax_coef = 0.05
    return(cost_price*tax_coef)

In [35]:
bike_cost = 43500
print(f"The tax for a bike worth {bike_cost} will be {Tax(bike_cost)}")

The tax for a bike worth 43500 will be 2175.0

## Excercise 3.Data Format (Yandex Contest)

Description:
As you know, there are two most common date formats:
- European (first day, then month, then year)
- American (first month, then day, then year)

The system administrator changed the date on one of the backups and now wants to return the date back.
But he did not check what format the date is in the system.

In other words, you are given a record of some correct date.
It is required to find out whether the date is uniquely determined from this record.

INPUT:
Three integers 

`x`, `y`, `z`:

`1 <= x <= 31, 1 <= y <= 31, 1970 <= z <= 2069`.

It is guaranteed that at least one format the xyz entry specifies the correct date.

OUTPUT:
Print 1 if the date is uniquely determined, and 0 otherwise.


Test Case 1:
```
INPUT:
x = 1
y = 2
z = 2003

OUTPUT: 0
```
```
Test Case 2:
INPUT:
x = 2
y = 27
z = 2008

OUTPUT: 1
```

Description of the test cases:
In the first test case:
- with one recording system, the date is February 1, 2003;
- with the other - January 2, 2003.
It is impossible to name the date uniquely.


In the second test case:
the correct version of the date can be only American format: February 27, 2008.

In [46]:
def date_unique(x, y, z):
    res = int((x == y) or (x>12 or y>12))
    return(res)

In [52]:
print(f"Date is uniquely determined: {bool(date_unique(2,1,2003))}")

Date is uniquely determined: False